.card {
  color:#EEEEEE;
  font-size: 20px;
  margin: 0.3rem;
  padding: 0.3rem;
  font-weight: bold;
  background-color: #0066FF;
}
.info {
  display: flex;
  justify-content: space-between;
}
.type {
  font-weight: bold;
  height: auto;
  width: auto;
  background-color: green;
  margin: 0.3rem;
  padding: 0.3rem;
  color: White;
  border-radius: 5px;
}

.delete-button,
.edit-button {
  margin-right: 10px;
  border: none;
  height: 30px;
  width: 60px;
  text-align: center;
  background-color: #cc0000;
}
.edit-button {
  background-color: #00cc33;
}
.content {
  background-color: gainsboro;
  padding: 10px;
  margin-bottom: 20px;
  background-color: weight;
}

